*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}

header{
	background-color: skyblue;
	height:80px;
	width:100%;
	position:;
	
}

header img{
	margin-right: 20px;
	float:left;
}

.nav-bar{
	list-style-type: none;
}

.nav-bar li{
    display: inline;
	float:left;
	margin-right: 5px;
	height: 24px;
	margin-top: 25px;
	margin-bottom: 4px;
}

.nav-bar a{
	text-decoration: none;

}
.nav-bar a:hover{
color: white;
}

.main-text{
	clear: both;
	background-color: violet;
}

h1{
  clear:both;
}

.s1 img{
	margin:auto;
	width:50%;
	float:left;
}



.s2 img{
	margin:auto;
	width:50%;
	float: right;
}

footer{
	clear:both;
	background-color:grey;
	height: 155px;
}


@media (min-width: 300px) and (max-width: 600px){

	header{

		height: 285px;
	}

	.nav-bar li{
		width:100%;
	}
	.main-text{

    margin:auto;
	}

	h1{
    font-size: 1.4em;
	}

	.s1 img{
	float:left;	
	 width: 100%;
	}

	.s2 img{
	float:left;
	width:100%;
	}
}

@media (min-width: 100px) and (max-width: 299px){

	header{
		height: 285px;
		
	}
	.nav-bar li{
		width:100%;
	}
	.main-text{
	margin:auto;
	}
	
	h1{
     font-size: 1em;
	}
	.s1 img{
	float:left;	
	 width: 100%;
	}

	.s2 img{
	float:left;
	width:100%;
	}
}
